
html {
  /* flexbox won't work without this when <!DOCTYPE html> */
  height: 100%;
}

body {
  background-color: #eaf6ff;
  margin: 0;
  height: 100%;
  padding: 0;
}

.title-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
}
